body { 	color: blue;
		font-family: Times;
		font-size: 12pt;
		margin: 0 auto; 
		text-align: center;
		background-color: silver;
	
	}
h1{
			font-size: 36pt;
			color: green;
			font-variant: small-caps;
			font-weight: bold;

		}

h2 {
			font-size: 16pt;
			color: blue;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;

			}

h3 {
			font-size: 14pt;
			color: green;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;

		}	

h4 {
			font-size: 12pt;
			color: red;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;

		}	
		
		.title {
			font-size: 14pt;
			color: red;
			font-weight: normal;
			}