#header {
     display: none;
}
body {color:black;
background-color: white; 
text-align: center;
text-align: left;
}
#footer {
display: none;
}
h1 {color: black;}
h2 {color: black;}
h3 {color: black;}
h4 {color: black;}
#nav {display: none;}
#printheader  {display: inline;}